{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>New Note</title>
</head>

<body>

<div class="top-bar">
    <h1>New Note</h1>
</div>
<hr>

<div class="content">
    <p><a class='red_button' href="{% url '' %}">Back to Home</a></p>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="red_button">Save</button>
    </form>

</div>
</body>
</html>
