* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

*::selection {
    color: #000000;
    background-color: #ac4242;
}

body {
    font-size: 18pt;
    background-color: #181818;
    color: #aaaaaa;
}


.content {
    margin-left: 50px;
    margin-right: 50px;
}


.top-bar {
    h1 {
        display: inline-block;
        text-decoration: underline;
        margin-left: 60px;
    }

    background-color: #262626;
    border: none;
    width: 100%;
}


hr {
    background-color: #000000;
    border: none;
    width: 100%;
    height: 4px;
    margin-bottom: 10px;
}


#add_button {
    margin: 10px;
    font-size: 20pt;
    background-color: #ac4242;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

#add_button:hover {
    background-color: #8c2222;
}


li {
    list-style: none;
    margin: 5pt;
    border: 5px #262626 solid;
    border-radius: 10px;
    padding: 4px;
}

li:hover {
    background-color: #262626;
}

.red_button {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    font-size: 20pt;
    background-color: #ac4242;
    border-radius: 3px;
    color: #000000;
    text-decoration: none;
    padding: 5px 10px;
}

.red_button:hover {
    background-color: #8c2222;
}


#delete_button {
    cursor: pointer;
    background-color: #ac4242;
    border-top-left-radius: 10px;
    border: none;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: 0px;
    font-size: 20pt;
}

#delete_button:hover {
    background-color: #8c2222;
}

.form-control {
    background-color: #000000;
}
