{% extends 'pages/base.html' %} {% block content %}
{% load crispy_forms_tags %}

<body>
    <br />
    <div class="container bg-primary p-3 border rounded-5 w-50">
        <h3>Create your account</h3>
        <h5>start managing your clients today</h5>
        <hr />
        <br />
        <form method="POST" autocomplete="off">
            {% csrf_token %} {{form|crispy}}
            <br />
            <button type="submit" class="btn btn-primary w-100 btn-block p-2">
                <i class="fa fa-user-plus" aria-hidden="true"></i>  Create Account
            </button>
        </form>
        <br />
        <div class="text-center">
            <p>already have an account?</p>
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
</body>
{% endblock %}
